body {
    background: url("../images/background_img.jpg");
    box-sizing: border-box;
}

#game-body {
    width: 50%;
    
}
#game-title {
    color: white;
    background-color: orangered;
    width: 75%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
}

#game-instructions {
    background-color: tan;
    height: 300px;


}

#listofinstructions {
    padding: 10px;

}

.instructions {
    color: seagreen;
    font-size: 15px;
}

#third-row {
    width: 75%;
}

#random-number {
    background-color: seagreen;
    color: navy;
    height:75px;
    font-size: 20px
}

#running-score {
 
    background-color: azure;
    color: navy;
}

.user-data {
    clear: left;
    background-color: teal;
    width: 75%;
    
}



img {
    width: 100px;
    height: 100px;
    float: left;
    border-style: solid;
    border-color: black;

}
#user-data-header {
    margin-bottom: 20px;
}

#user-data-score {
    height: 75px;
    font-size: 20px;
}


#wins {
    margin-bottom: 5px;
    padding: 5px;
}

.crystals {
    width: 80%;

}